.product-index-container {
    padding: 20px;
}

.product-index-container h1 {
    color: #d99939;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #282424;
    padding: 8px;
}

.product-table th {
    background-color: #d99939;
    text-align: left;
}

.product-table tr:nth-child(even) {
    background-color: #dab973;
}

.product-table tr:hover {
    background-color: #ddd;
}

td {
    color: black;
}

.product-index-container button {
    background-color: orange;
    margin-top: 30px;
    height: 40px;
    width: 70px;
}

.aa {
    background-color: #d99939;
    width: 70px;
    font-size: x-small;
    /* height: 20px; */
}